<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>蜜糖:每一口都更甜蜜</title>

<style type="text/css">
.navbar-default{display: none;}
</style>



</head>

<!-- Navbar-->

 <body>

<div class="row" style="margin-top: -1px;">


<div class="topbar">
<div class="topbody">
    <a class="title" href="/">HoneyCake</a>
    <ul class="toplist">
        <li class="active">
            <%= link_to("全部蛋糕", products_path) %>
        </li>
        <!-- search -->
        <li>
            <%= form_tag products_path, :method => "get" do %>
                <div class="searchform">
                    <%= text_field_tag :search, params[:search], placeholder: "搜索", class: "searchbox"%>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default search-bar-submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            <% end %>
        </li>
        <!-- search -->
        <li>
            <%= link_to carts_path do  %>
                购物车 <i class="fa fa-shopping-cart"> </i> ( <%= current_cart.products.count %> )
           <% end %>
        </li>
        <% if !current_user %>
            <li><%= link_to("注册", new_user_registration_path) %> </li>
            <li><%= link_to(content_tag(:i, '登入', class: 'fa fa-sign-in'), new_user_session_path) %></li>
        <% else %>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Hi!, <%= current_user.email %>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <% if current_user.admin? %>
                        <li>
                            <%= link_to("Admin 选单", admin_products_path ) %>
                        </li>
                    <% end %>

                    <li>
                        <%= link_to("个人订单列表", account_orders_path ) %>
                       <%= link_to(content_tag(:i, '登出', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %>
                  </li>
                </ul>
            </li>
        <% end %>
    </ul>
</div>
</div>



</div>
<!-- Navbar-->
<!-- lb -->

<style type="text/css">
      #frame {/*----------图片轮播相框容器----------*/
          position: absolute; /*--绝对定位，方便子元素的定位*/
          width: 1400px;
          height: 600px;
          margin-top: 50px;
          margin-left: -15px;
          overflow: hidden;/*--相框作用，只显示一个图片---*/
          border-radius:5px;
      }


      #photos img {
          float: left;
          width:1400px;
          height:600px;
      }
      #photos {/*---设置总的图片宽度--通过位移来达到轮播效果----*/
          position: absolute;z-index:9px;
          width: calc(1400px * 5);/*---修改图片数量的话需要修改下面的动画参数*/
      }
      .play{
          animation: ma 20s ease-out infinite alternate;/**/
      }
      @keyframes ma {/*---每图片切换有两个阶段：位移切换和静置。中间的效果可以任意定制----*/
          0%,20% {        margin-left: 0px;       }
          25%,40% {       margin-left: -1400px;    }
          45%,60% {       margin-left: -2800px;    }
          65%,80% {       margin-left: -4200px;    }
          85%,100% {      margin-left: -5600px;   }
      }

      .num:hover{background:#00f;}
      .num:hover,#photos:hover{animation-play-state:paused;}
      .num:nth-child(1){margin-right:900px}
      .num:nth-child(2){margin-right:840px}
      .num:nth-child(3){margin-right:780px}
      .num:nth-child(4){margin-right:720px}
      .num:nth-child(5){margin-right:660px}
      #a1:hover ~ #photos{animation: ma1 .5s ease-out forwards;}
      #a2:hover ~ #photos{animation: ma2 .5s ease-out forwards;}
      #a3:hover ~ #photos{animation: ma3 .5s ease-out forwards;}
      #a4:hover ~ #photos{animation: ma4 .5s ease-out forwards;}
      #a5:hover ~ #photos {animation: ma5 .5s ease-out forwards;}
     @keyframes ma1 {100%{margin-left: 0px;}   }
     @keyframes ma2 {100%{margin-left:-1400px;}   }
      @keyframes ma3 {100%{margin-left:-2800px;}   }
      @keyframes ma4 {100%{margin-left:-4200px;}   }
      @keyframes ma5 {100%{margin-left:-5600px;}  }


      .num{
          position:absolute;z-index:10;
          display:inline-block;
          right:10px;top:165px;
          border-radius:100%;
          background:#f00;
          width:25px;height:25px;
          line-height:25px;
          cursor:pointer;
          color:#fff;
          text-align:center;
          opacity:0.8;
      }

</style>


 <div id="frame">
        <a id="a1" class="num" style="margin-top:380px;">1</a>
        <a id="a2" class="num" style="margin-top:380px;">2</a>
        <a id="a3" class="num" style="margin-top:380px;">3</a>
        <a id="a4" class="num" style="margin-top:380px;">4</a>
        <a id="a5" class="num" style="margin-top:380px;">5</a>
        <div id="photos" class="play">
          <img src="https://ww4.sinaimg.cn/large/006tNbRwly1fczjte364bj30rs0b4q7s.jpg" >
  			  <img src="https://ww4.sinaimg.cn/large/006tNbRwly1fczks6uiiwj30rs0b4wml.jpg" >
  			  <img src="https://ww3.sinaimg.cn/large/006tNbRwly1fczkuqobf9j30rs0b40z3.jpg" >
  			  <img src="https://ww3.sinaimg.cn/large/006tNbRwly1fczjozlsp8j30rs0b4qbq.jpg" >
          <img src="https://ww4.sinaimg.cn/large/006tNc79ly1fdcybk36fsj30rs0b4tdc.jpg" >
        </div>
</div>


<!-- lb-->

<!-- category -->

<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand"><a href="/" style="color:black; font-size: 17px;">蛋糕分类</a></li>

        <li><a href="/naiyou">奶油系列</a></li>
        <li><a href="/zhishi">芝士系列</a></li>
        <li><a href="/musi">慕斯系列</a></li>
        <li><a href="/qiaokeli">巧克力系列</a></li>
        <li><a href="/shuiguo">水果系列</a></li>
        <li><a href="/bingjiling">冰激凌系列</a></li>
        <li><a href="/qingdian">庆典系列</a></li>
    </ul>


<!-- category -->

<!-- products -->

<<div class="container" style="margin-left:130px;margin-top:450px;">

  <div class="spec text-center ">
      <h3 style="font-size:2.5em;font-family:Candara;text-align:center;font-weight:600;margin-top:200px;">热销品</h3>
  </div>

    <div id="products" class="row list-group" style="padding: 10px;20px;10px;20px;">
        <% Product.all.each do |product| %>
            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <%= link_to product_path(product) do %>
                        <% if product.image.present? %>
                            <%= image_tag(product.image, class: "group list-group-image") %>
                        <% else %>
                            <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                        <% end %>
                    <%end%>
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            <%= product.title %></h4>

                            <br>

                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <p class="lead">
                                    ¥<%= product.price %></p>
                            </div>
                            <div class="col-xs-6 col-md-6 ">
                                <div class="simpleCart_shelfItem">
                                    <p><%= link_to("加入购物车", add_to_cart_product_path(product),  :method => :post, class:"item_add")%></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>


<!-- products -->



</body>


</html>
