<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>蜜糖:每一口都更甜蜜</title>



<style type="text/css">
.navbar-default{display: none;}
</style>


</head>

<!-- Navbar-->


<div class="row" style="margin-top: -1px;">


<div class="topbar">
<div class="topbody">
    <a class="title" href="/">HoneyCake</a>
    <ul class="toplist">
        <li class="active">
            <%= link_to("全部蛋糕", products_path) %>
        </li>
        <!-- search start-->
        <li>
            <%= form_tag products_path, :method => "get" do %>
                <div class="searchform">
                    <%= text_field_tag :search, params[:search], placeholder: "搜索", class: "searchbox"%>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default search-bar-submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            <% end %>
        </li>
        <li>
            <%= link_to carts_path do  %>
                购物车 <i class="fa fa-shopping-cart"> </i> ( <%= current_cart.products.count %> )
           <% end %>
        </li>
        <% if !current_user %>
            <li><%= link_to("注册", new_user_registration_path) %> </li>
            <li><%= link_to(content_tag(:i, '登入', class: 'fa fa-sign-in'), new_user_session_path) %></li>
        <% else %>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Hi!, <%= current_user.email %>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <% if current_user.admin? %>
                        <li>
                            <%= link_to("Admin 选单", admin_products_path ) %>
                        </li>
                    <% end %>

                    <li>
                        <%= link_to("个人订单列表", account_orders_path ) %>
                    </li>
                    <li> <%= link_to(content_tag(:i, '登出', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %> </li>
                </ul>
            </li>
        <% end %>
    </ul>
</div>
</div>

</div>



</div>
<!-- Navbar-->
<!-- Carousel -->






<!-- Carousel -->

<!-- category -->

<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand"><a href="/" style="color:black; font-size: 17px;">蛋糕分类</a></li>

        <li><a href="/naiyou">奶油系列</a></li>
        <li><a href="/zhishi">芝士系列</a></li>
        <li><a href="/musi">慕斯系列</a></li>
        <li><a href="/qiaokeli">巧克力系列</a></li>
        <li><a href="/shuiguo">水果系列</a></li>
        <li><a href="/bingjiling">冰激凌系列</a></li>
        <li><a href="/qingdian">庆典系列</a></li>
    </ul>


<!-- category -->

<!-- products -->
<!-- list -->



<<div class="container">
    <div class="well well-sm">
        <strong>Display</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
                </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
    </div>
    <div id="products" class="row list-group">
        <% Product.all.each do |product| %>
            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <%= link_to product_path(product) do %>
                        <% if product.image.present? %>
                            <%= image_tag(product.image, class: "group list-group-image") %>
                        <% else %>
                            <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                        <% end %>
                    <%end%>
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            <%= product.title %></h4>

                            <br>

                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <p class="lead">
                                    ¥<%= product.price %></p>
                            </div>
                            <div class="col-xs-6 col-md-6 ">
                                <div class="simpleCart_shelfItem">
                                    <p><%= link_to("Add to cart", add_to_cart_product_path(product),  :method => :post, class:"item_add")%></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>




<!-- list -->


</body>


</html>
