


<div class="row" style="margin-top:100px;">
  <% @products.order('created_at DESC').each do |product| %>
  <% if  true == product.categories.eql?("冰激凌系列")%>
  <div class="col-xs-6 col-md-3">
    <%= link_to product_path(product) do %>
      <% if product.image.present? %>
      <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
    <% else %>
      <%=image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
    <% end %>
  <% end %>
  <%= product.title %> ￥ <%= product.price %>
  </div>
<% end %>
<% end %>
</div>
